# Analise dos dados do dataset "Brazilian E-Commerce Public Dataset by Olist"
Esta é uma análise exploratória de um dataset de comércio digital brasileiro que é público, o dataset em questão foi feito/compilado por "Olist", seja lá quem for, fez um bom trabalho com um dataset completo para uma análise de dados, esta análise é feita por um iniciante na área de análise de dados com o objetivo de enriquecer seu portifólio com projetos de análise de dados reais.

Atualmente busco estágio na área da análise de dados, caso esteja interessado em me conhecer:

    LinkTree: https://linktr.ee/ValdeciMiranda
    Meu Kaggle: https://www.kaggle.com/valdecisantosmiranda
    Meu GitHub: https://github.com/ValdeciMiranda

Você pode acessar este dataset pelo kaggle: https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce?select=olist_products_dataset.csv

In [3]:
#Aqui são importadas todas as bibliotecas usadas neste notebook
import pandas as pd

In [24]:
#Aqui todos os dados são importados
dados_produtos = pd.read_csv("olist_products_dataset.csv")
dados_clientes = pd.read_csv("olist_customers_dataset.csv")
dados_pedido_item = pd.read_csv("olist_order_items_dataset.csv")
dados_vendedores = pd.read_csv("olist_sellers_dataset.csv")
dados_pedidos = pd.read_csv("olist_orders_dataset.csv")

In [55]:
#Primeira visualização do cabeçalho dos dados produtos
dados_produtos.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

## Dados produtos
Neste cabeçalho é informado o nome da categoria dos produtos, suas características como peso e tamanho, perceba que o nome do produto em sí que é vendido não é mostrado, apenas suas características, em geral por que este é um dataset de venda de produtos de vários sites diferentes que tenta não violar a privacidade do cliente mantendo em segredo o que ele comprou, porém só com a categoria podemos fazer um levantamento de qual categoria vende mais e também o quanto cada categoria vende apenas contando quantas vezes deteminada categoria aparece da tabela.

In [33]:
#criando o dataframe "produtos"
produtos = pd.DataFrame(dados_produtos)

In [51]:
#Vendo qual categoria é a mais vendida e a ocorrência de cada uma
pd.set_option('display.max_rows', None)
num_vendas = produtos['product_category_name'].value_counts()
num_vendas

cama_mesa_banho                                   3029
esporte_lazer                                     2867
moveis_decoracao                                  2657
beleza_saude                                      2444
utilidades_domesticas                             2335
automotivo                                        1900
informatica_acessorios                            1639
brinquedos                                        1411
relogios_presentes                                1329
telefonia                                         1134
bebes                                              919
perfumaria                                         868
papelaria                                          849
fashion_bolsas_e_acessorios                        849
cool_stuff                                         789
ferramentas_jardim                                 753
pet_shop                                           719
eletronicos                                        517
construcao_ferramentas_construcao                  400
eletrodomesticos                                   370
malas_acessorios                                   349
consoles_games                                     317
moveis_escritorio                                  309
instrumentos_musicais                              289
eletroportateis                                    231
casa_construcao                                    225
livros_interesse_geral                             216
fashion_calcados                                   173
moveis_sala                                        156
climatizacao                                       124
livros_tecnicos                                    123
telefonia_fixa                                     116
casa_conforto                                      111
market_place                                       104
alimentos_bebidas                                  104
fashion_roupa_masculina                             95
moveis_cozinha_area_de_servico_jantar_e_jardim      94
sinalizacao_e_seguranca                             93
construcao_ferramentas_seguranca                    91
eletrodomesticos_2                                  90
construcao_ferramentas_jardim                       88
alimentos                                           82
bebidas                                             81
construcao_ferramentas_iluminacao                   78
agro_industria_e_comercio                           74
industria_comercio_e_negocios                       68
artigos_de_natal                                    65
audio                                               58
artes                                               55
fashion_underwear_e_moda_praia                      53
dvds_blu_ray                                        48
moveis_quarto                                       45
construcao_ferramentas_ferramentas                  39
portateis_casa_forno_e_cafe                         31
livros_importados                                   31
pcs                                                 30
cine_foto                                           28
fashion_roupa_feminina                              27
musica                                              27
artigos_de_festas                                   26
fashion_esporte                                     19
artes_e_artesanato                                  19
flores                                              14
fraldas_higiene                                     12
la_cuisine                                          10
portateis_cozinha_e_preparadores_de_alimentos       10
moveis_colchao_e_estofado                           10
tablets_impressao_imagem                             9
fashion_roupa_infanto_juvenil                        5
casa_conforto_2                                      5
pc_gamer                                             3
seguros_e_servicos                                   2
cds_dvds_musicais                                    1
Name: product_category_name, dtype: int64

## O ranking das categorias que mais vendem
Como podemos ver produtos de "cama_mesa_banho" tem mais ocorrências, a quantidade em que estes produtos é vendida não nos é mostrado neste dataset portanto não há como sabermos por exemplo qual é o produo de fato mais vendido mas pelo número de ocorrências podemos ter uma idéia da tendência de consumo destes clientes. Vemos então aqui que produtos de cama, mesa e banho são os mais vendidos em categoria (não sabemos a quantidade em que este produtos são vendidos) enquanto cds e dvds musicais não são tão vendidos tendo apenas uma ocorrência, isso se deve ao fato de que quase ninguém hoje compraria um cd ou dvd podendo baixar de graça pela internet já produtos de cama como lençóis, colchões, edredons, etc, mesa e banho ainda são bem úteis e utilizados no dia a dia do brasileiro, portanto são mais vendidos.

## Os clientes, de onde são?
Agora que temos a categoria que mais vende podemos da uma olhada de onde são estes clientes

In [17]:
#Primeira visualização do cabeçalho dos dados clientes
dados_clientes.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [57]:
#Criando um novo dataframe para conter os clientes
clientes = pd.DataFrame(dados_clientes)

In [60]:
# Vamos ver quantas ocorrências por estado assim como fizemos com o número de vendas por categoria
pd.set_option('display.max_rows', None)
clientes_estados = clientes['customer_state'].value_counts()
clientes_estados

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64

In [63]:
# Vamos ver quantas ocorrências por cidade assim como fizemos com o número de vendas por categoria
pd.set_option('display.max_rows', 25)
clientes_cidades = clientes['customer_city'].value_counts()
clientes_cidades

sao paulo            15540
rio de janeiro        6882
belo horizonte        2773
brasilia              2131
curitiba              1521
                     ...
bequimao                 1
andarai                  1
vargem grande            1
curvelandia              1
eugenio de castro        1
Name: customer_city, Length: 4119, dtype: int64

## Ranking da cidade com mais "customers" (clientes)
Podemos então ter uma ideia de que o maior número de clientes destas lojas de e-comerce ficam em são paulo tanto no estado quanto na cidade visto que parece que este dataset parece que lista número de pedidos por estado e cidade, o top três de cidades que mais compram por e-comerce segundo este data set seria:

    1 - São paulo
    2 - Rio de janeiro
    3 - Belo Horizonte

Junto com seus respectivos estados é claro, SP, RJ e MG.

## Por último vamos dar uma olhada nos vendedores
Só por curiosidade vamos ver quais cidades de e quais estados são a maioria dos vendedores.

In [20]:
#Primeira visualização do cabeçalho dos dados vendedores
dados_vendedores.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [64]:
#Criando um novo dataframe para conter os vendedores
vendedores = pd.DataFrame(dados_vendedores)

In [65]:
# Vamos ver quantas ocorrências por estado assim como fizemos com o número de clientes
pd.set_option('display.max_rows', None)
vendedores_estados = vendedores['seller_state'].value_counts()
vendedores_estados

SP    1849
PR     349
MG     244
SC     190
RJ     171
RS     129
GO      40
DF      30
ES      23
BA      19
CE      13
PE       9
PB       6
RN       5
MS       5
MT       4
RO       2
SE       2
PI       1
AC       1
MA       1
AM       1
PA       1
Name: seller_state, dtype: int64

In [67]:
# Vamos ver quantas ocorrências por cidade assim como fizemos com o número de vendas por categoria
pd.set_option('display.max_rows', 10)
vendedores_cidades = vendedores['seller_city'].value_counts()
vendedores_cidades

sao paulo              694
curitiba               127
rio de janeiro          96
belo horizonte          68
ribeirao preto          52
                      ...
taruma                   1
s jose do rio preto      1
domingos martins         1
messias targino          1
leme                     1
Name: seller_city, Length: 611, dtype: int64

## Uma análise dos vendedores
Podemos ver que são paulo é o estado com maior número de vendedores sendo a cidade de são paulo a que tem o maior número seguido por curitiba no Paraná e o estado de minas gerais, podemos dizer que o número de vendedores pelo estado é bastante disperso visto que os números mostram que nem todas as vendas estão concentradas em um único município, isto é bastante interessante de se analisar, visto que num comercio digital existe mais opções de compra as vendas tendem a se dispersar mais em locais diferentes.

# Conclusão
Poderia ainda incluir aqui uma análise mais completa deste dataset com relação entre o cliente e o vendedor, análise de sentimento das avaliações usando machine learning ou ainda relacionar os produtos com as vendas e suas características para tentar determinar oque o cliente comprou mas isto não me é interessante visto que isso é apenas uma análise exploratória inicial deste dataset que visa apenas "dar uma bispada" em seu conteúdo.